.contact-section {
    margin-top: 90px;
    padding: 60px 0;
    background-color: #FAFAF8;
  }
  
  .contact-section .contact-content {
    width: 80%;
    margin: 0 auto;
  }
  
  .contact-section .panel {
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
  }
  
  .contact-section .panel .panel-title {
    font-family: "louis_george_cafe";
    font-weight: 600;
  }
  
  .contact-section .panel .panel-icon {
    width: 50px;
  }
  
  .contact-section .panel .panel-form {
    box-shadow: 2px 2px 5px 0px #c9c9c9;
    padding: 20px 20px;
    border-radius: 20px;
    word-wrap: break-word !important;
  }
  
  .contact-section .panel .panel-form .panel-label {
    display: block;
  }
  
  .contact-section .panel .panel-form .panel-input {
    width: 100%;
    border: 1px solid #eee;
    border-radius: 0;
    padding: 6px 15px;
    transition: 0.15s ease-in-out;
  }
  
  .contact-section .panel .panel-form .panel-input:focus {
    border-color: #0038E3;
  }
  
  .contact-section .panel .panel-form .panel-textarea {
    resize: none;
  }
  
  @media (max-width: 1200px) {
    .contact-content {
      width: 95% !important;
    }
  
    .panel-form {
      box-shadow: none !important;
      padding: 0 !important;
    }
  }