footer {
	width: 100%;
	padding: 20px 0;
	background-color: #00a1db;

	display: flex;
	align-items: center;

	.footer-menu-title {
		font-size: 22px;
		font-weight: bold;
		color: #fff;
		margin-bottom: 20px;
	}

	.footer-menu ul {
		list-style-type: none;

		li {
			margin-bottom: 10px;

			a {
				color: #fff;
			}
		}
	}

	.w-100 {
		display: none;
	}
}

@media (max-width: 1000px) {
	.w-100 {
		display: block;
	}
}
