main .cover {
    margin-top: 92px;

    background-image: url("/assets/images/bg_banner_search-min.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;

    .wrapper {
        max-width: 900px;
        height: 600px;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        justify-content: center;

        h1,
        p {
            color: #fff;
            font-family: "louis_george_cafe";
        }

        h1 {
            font-size: 4rem;
            font-weight: bolder;
            width: 100%;
            text-align: center;
        }

        p {
            font-size: 16px;
        }

        .cover-search {
            width: 90%;
            margin: 0 auto;
        }
    }
}

main {
    .preload {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-animation-name: upPreload;
            animation-name: upPreload;
        -webkit-animation-duration: 0.75s;
            animation-duration: 0.75s;
        -webkit-animation-delay: 1.25s;
            animation-delay: 1.25s;
        -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    }

    .quicksearch {
        display: flex;
        justify-content: center;
        background-color: #FAFAF8;
        padding: 60px 0;

        .qs-elems {
            width: 70%;

            .qs-med-form {
                margin-bottom: 20px;
            }

            .med-categories {
                ul {
                    list-style-type: none;
                    padding-left: 0;

                    li {
                        margin-bottom: 8px;
                        font-weight: bolder;
                        cursor: pointer;
                        transition: 0.15s ease-in;
                    }

                    li:hover {
                        color: #00a1db;
                    }
                }
            }

            .med-list {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
            }
        }
    }
}
@-webkit-keyframes upPreload {
    to {
      transform: translateY(-100%);
    }
  }
  
@keyframes upPreload {
    to {
        transform: translateY(-100%);
    }
}

@media (max-width: 1000px) {
    main .cover {
        .wrapper {
            p {
                width: 90%;
                margin: 0 auto;
            }
        }
    }
}

@media (max-width: 1199px) {
    .wrapper {
        min-width: 95%;
    }

    .quicksearch .qs-elems {
        min-width: 95%;
    }

    .med-categories {
        display: none;
    }
}