.pi-title {
    color: #00a1db;
}

.pi-img {
    width: 225px;
}

.pi-label {
    font-weight: bolder;
}

.pi-input {
    border: none;
    color: #dddddd;
    border-bottom: 1px solid #dddddd;
}

.pi-input-border {
    background: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    padding: 10px 15px;
}

.pi-shop-box {
    margin: 30px 0px;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 20px;
}

.med-box {
    box-shadow: 2px 2px 5px 0px rgba(201, 201, 201, 1);
    padding: 20px 20px;
    border-radius: 20px;
    word-wrap: break-word !important;
    cursor: pointer;

    .med-box-img {
        width: 100px;
    }
}

.med-box:hover {
    box-shadow: 5px 5px 20px 0px rgba(201, 201, 201, 1);
}
