<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Drazamed | Medicinas en linea </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="../img/icon.png">

    <!-- Plugins -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/revoulation.css">
    <link rel="stylesheet" href="../css/plugins.css">

    <!-- Style Css -->
    <link rel="stylesheet" href="../style.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="../css/custom.css">
</head>
<body>
    <div class="container-fluid bg_color_grey section_custom">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="inside_section mb--20">
                        <h2 class="black">Detalles de Pago</h2>
                        <form action="">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="">Valor a Pagar</label>
                                        <input type="number" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Correo Electrónico</label>
                                        <input type="email" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="">Nombre Completo</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Teléfono de Contacto</label>
                                        <input type="number" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="">Información del Producto</label>
                                        <textarea name="" id="" cols="30" rows="6" class="form-control"></textarea>
                                    </div>
                                    <div class="checkboxes_section">
                                        <div class="form-group form-check">
                                            <input type="checkbox" class="form-check-input" id="">
                                            <label class="form-check-label" for="">He validado con mi médico todas las indicaciones y contraindicaciones antes de realizar la compra de este medicamento</label>
                                        </div>
                                        <div class="form-group form-check">
                                            <input type="checkbox" class="form-check-input" id="">
                                            <label class="form-check-label" for="">Al realizar la compra usted declara ser mayor de edad y que cuenta con la capacidad para realizar esta transacción</label>
                                        </div>
                                        <div class="form-group form-check">
                                            <input type="checkbox" class="form-check-input" id="">
                                            <label class="form-check-label" for="">Conozco y acepto los <a>Términos y Condiciones</a> y <a>Pólitica de Manejo de Datos Personales</a></label>
                                        </div>
                                    </div>
                                    <div class="btn_payment">
                                        <button type="submit" class="btn">Realizar Pago</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="items_payments">
                            <h2 class="black">Medios de Pago Disponibles</h2>
                            <div class="row item">
                                <div class="col-md-4 col-sm-12">
                                    <h4 class="blue">Tarjeta de Crédito en hasta 36 cuotas</h4>
                                    <p>Acreditación instantanea</p>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <h4 class="blue">En efectivo desde la banca en línea</h4>
                                    <p>Al momento de pagar te daremos todos los datos para que puedas transferir desde tu banca en línea</p>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <h4 class="blue">En efectivo con Efecty, Baloto, 4-72 y SER</h4>
                                    <p>Al momento de oagar te diremos como hacerlo en cualquier punto Efecty, Baloto, 4-72, SER</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>