footer {
  width: 100%;
  padding: 20px 0;
  background-color: #00a1db;
  display: flex;
  align-items: center;
}

footer .footer-menu-title {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}

footer .footer-menu ul {
  list-style-type: none;
}

footer .footer-menu ul li {
  margin-bottom: 10px;
}

footer .footer-menu ul li a {
  color: #fff;
}

footer .w-100 {
  display: none;
}

@media (max-width: 1000px) {
  .w-100 {
    display: block;
  }
}

