header {
  width: 100%;
  background-color: white;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

header .header-content {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-content .btn-header-resp {
  display: none;
  border: none;
  color: #00a1db;
  background-color: white;
  font-size: 1.75em;
}

header nav a {
  color: black;
  font-weight: bold;
  margin-right: 20px;
}

header .btn-login {
  background: #00a1db;
  border: 2px solid #00a1db;
  padding: 10px 20px;
  border-radius: 20px;
  color: #fff !important;
  font-weight: 600 !important;
}

header .btn-login:hover {
  background: #fff;
  color: #000 !important;
}

header .side-nav {
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: #FFF;
  overflow-x: hidden;
  transition: 0.3s;
}

header .side-nav .close-btn {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
}

header .side-nav ul {
  list-style-type: none;
  margin: 50px 70px 0 70px;
}

header .side-nav ul li a {
  text-decoration: none;
  font-size: 22px;
  color: #000;
  display: block;
  padding: 10px 10px 10px 0px;
  text-align: center;
}

header .side-nav ul .m-login-btn {
  margin-top: 20px;
  width: 100%;
  background: #00a1db;
  border: 2px solid #00a1db;
  padding: 10px 20px;
  border-radius: 20px;
  color: #fff !important;
  font-weight: 600 !important;
}

#dra-logo-1{
  display: block;
}

#dra-logo-2{
  display: none;
}

@media (max-width: 400px) {

  #dra-logo-1{
    display: none;
  }
  
  #dra-logo-2{
    display: block;
  }
} 

@media (max-width: 1000px) {
  header nav {
    display: none;
  }

  header .header-content {
    width: 90%;
  }

  header .header-content .btn-header-resp {
    display: block;
  }
}



